flows_david-VirtualBox.json
[{"id":"b3b9b585.0f88c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"db45be46.d73b98","type":"function","z":"b3b9b585.0f88c8","name":"New Device","func":"var description = \"Raspberry1\";\n// Create a unique BlockChain Asset ID that will be unique across\n// many instances of this Node-RED flow across many systems\nvar deviceId = \"12.5.5.1\";\n\n//var severity = msg.payload.severity;\n//if( severity > 5 || severity < 0) {\n//    severity = 0;\n//}\n\nmsg.payload = {\n    \"$class\":\"org.acme.sample.Device\",\n    \"deviceId\": deviceId,\n    \"description\": description\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":180,"wires":[["81d53cdb.b2bab8","8ad25efb.aaf908"]]},{"id":"81d53cdb.b2bab8","type":"debug","z":"b3b9b585.0f88c8","name":"Storm Asset","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":140,"wires":[]},{"id":"8ad25efb.aaf908","type":"http request","z":"b3b9b585.0f88c8","name":"hyperledger ","method":"POST","ret":"obj","url":"http://localhost:3000/api/Device","tls":"","x":510,"y":180,"wires":[["968b1576.3bbcf8"]]},{"id":"b5528f03.7e159","type":"inject","z":"b3b9b585.0f88c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":100,"wires":[["db45be46.d73b98"]]},{"id":"968b1576.3bbcf8","type":"debug","z":"b3b9b585.0f88c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":180,"wires":[]},{"id":"614a68ea.f5508","type":"function","z":"b3b9b585.0f88c8","name":"New Transaction","func":"var sensorId = \"temperature\";\nvar transactionId = Math.random().toString(36).substr(2,9);\nvar timestamp = \"2018-05-16T18:39:14.774Z\"\nvar value = \"15\";\n\nmsg.payload = {\n    \"$class\":\"org.acme.sample.SensorEdit\",\n    \"asset\": sensorId,\n    \"newValue\": value\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":380,"wires":[["11c25fa6.50def8","250ced6b.379872"]]},{"id":"11c25fa6.50def8","type":"debug","z":"b3b9b585.0f88c8","name":"Storm Asset","active":true,"console":"false","complete":"payload","x":520,"y":340,"wires":[]},{"id":"250ced6b.379872","type":"http request","z":"b3b9b585.0f88c8","name":"hyperledger ","method":"POST","ret":"obj","url":"http://localhost:3000/api/SensorEdit","tls":"","x":520,"y":380,"wires":[["60fcc51e.b65f9c"]]},{"id":"be4c8b8e.c4b65","type":"inject","z":"b3b9b585.0f88c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":300,"wires":[["614a68ea.f5508"]]},{"id":"60fcc51e.b65f9c","type":"debug","z":"b3b9b585.0f88c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":740,"y":380,"wires":[]},{"id":"9ad09ac0.b763a8","type":"function","z":"b3b9b585.0f88c8","name":"New Sensor Reading","func":"var description = \"temperature\";\nvar exchange = \"every 5 min\";\nvar quantity = \"10\";\n\n// Create a unique BlockChain Asset ID that will be unique across\n// many instances of this Node-RED flow across many systems\nvar deviceId = \"org.acme.sample.Device#1234\";\n\n//var severity = msg.payload.severity;\n//if( severity > 5 || severity < 0) {\n//    severity = 0;\n//}\n\nmsg.payload = {\n    \"$class\":\"org.acme.sample.Sensor\",\n    \"sensorId\": description,\n    \"owner\": deviceId,\n    \"value\": quantity\n\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":540,"wires":[["8836a515.b293a","8d7e8e6f.4843c8"]]},{"id":"8836a515.b293a","type":"debug","z":"b3b9b585.0f88c8","name":"Storm Asset","active":true,"console":"false","complete":"payload","x":520,"y":500,"wires":[]},{"id":"8d7e8e6f.4843c8","type":"http request","z":"b3b9b585.0f88c8","name":"hyperledger ","method":"POST","ret":"obj","url":"http://localhost:3000/api/Sensor","tls":"","x":520,"y":540,"wires":[["d7cb65d4.6fa4"]]},{"id":"9eeac3b9.59abd","type":"inject","z":"b3b9b585.0f88c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":460,"wires":[["9ad09ac0.b763a8"]]},{"id":"d7cb65d4.6fa4","type":"debug","z":"b3b9b585.0f88c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":740,"y":540,"wires":[]},{"id":"4c42e0cc.42fd98","type":"function","z":"b3b9b585.0f88c8","name":"New Transaction","func":"var sensorId = \"temperature\";\nvar transactionId = Math.random().toString(36).substr(2,9);\nvar timestamp = \"2018-05-16T18:39:14.774Z\"\nvar value = Math.random().toString(9).substr(2,9);\n\nmsg.payload = {\n    \"$class\":\"org.acme.sample.SensorEdit\",\n    \"asset\": sensorId,\n    \"newValue\": value\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":680,"wires":[["9eb00148.ee3d68","ade87fbe.833eb"]]},{"id":"9eb00148.ee3d68","type":"debug","z":"b3b9b585.0f88c8","name":"Storm Asset","active":true,"console":"false","complete":"payload","x":510,"y":640,"wires":[]},{"id":"ade87fbe.833eb","type":"http request","z":"b3b9b585.0f88c8","name":"hyperledger ","method":"POST","ret":"obj","url":"http://localhost:3000/api/SensorEdit","tls":"","x":510,"y":680,"wires":[["db9a37c3.228138","6008532d.cc51c4"]]},{"id":"a91df405.c8852","type":"inject","z":"b3b9b585.0f88c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":600,"wires":[["4c42e0cc.42fd98"]]},{"id":"db9a37c3.228138","type":"debug","z":"b3b9b585.0f88c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":680,"wires":[]},{"id":"6008532d.cc51c4","type":"file","z":"b3b9b585.0f88c8","name":"","filename":"/home/david/.node-red/sensor_log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":810,"y":740,"wires":[]}]